body {
    margin: 0;            /* Remove default margin that browsers add */
}

/* CSS for the first two main body flex containers */

.header-container {
    display: flex;
    background-color: #1F2937;
    padding: 0 200px;
    align-items: flex-end; 
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 20px;  
    color: #F9FAF8;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
 
}

.button1 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 900;
    background-color: #3882F7;
    padding: 10px 30px;
    border: none;               /* Remove default border */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Cursor changes to pointer when hovered */
}

.awsome {
    display: flex;
    padding: 100px 200px;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 60px;
}

.awesome2 img {
    max-width:  100%; /* Ensures the image won't be wider than its container */
    height: auto;    /* Maintains aspect ratio */
    object-fit: cover;    /* Crop the image to fit within the container */
}

.awesome2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;  /* Set the fixed height for the container */
    overflow: hidden;  /* Ensure the overflowing part of the image is hidden */
}

.awesome1, .awesome2 {
    flex-grow: 1;
    flex-basis: 0;
}